.task-create{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;

  &__title{
    margin-bottom: .5rem;
    font-size: 1.1rem;
  }
  
  &__input{

    input{
      width: 300px;
      border: 0;
      padding: .4rem 1rem;
    }

    .btn{
      margin-left: .5rem;
    }
  }
  
}